form {
    max-width: 100%;               /* Limita el ancho máximo del formulario */
    margin: 0 auto;                 /* Centra el formulario horizontalmente */
}

h1 {
    font-size: clamp(1rem, 2vw + 1rem, 1.6rem); /* Escala el tamaño de la fuente del encabezado según el tamaño de la pantalla */
}

div {
    margin-bottom: 10px;            /* Añade espacio debajo de cada contenedor de entrada */
}

label {
    display: block;                 /* Coloca las etiquetas en bloques separados */
    margin-bottom: 5px;             /* Espacio entre la etiqueta y el campo de entrada */
}

input,
select {
    width: 100%;                    /* Hace que el campo de entrada ocupe el ancho completo del contenedor */
    padding: 5px;                   /* Añade espacio interior en los campos de entrada */
}

.error {
    color: red;                     /* Define el color del texto de error en rojo */
    font-size: 0.8em;               /* Ajusta el tamaño de fuente del texto de error */
}

button {
    margin-top: 10px;               /* Espacio superior en el botón */
    padding: 10px;                  /* Añade espacio interior en el botón */
    background-color: #4CAF50;      /* Color de fondo del botón */
    color: white;                   /* Color del texto del botón */
    border: none;                   /* Quita el borde del botón */
    cursor: pointer;                /* Cambia el cursor al pasar sobre el botón */
}

button:disabled {
    background-color: #cccccc;      /* Cambia el color de fondo cuando el botón está deshabilitado */
    cursor: not-allowed;            /* Cambia el cursor cuando el botón está deshabilitado */
}
